# Data Manipulation
numpy
pandas

# Data Visualization
matplotlib
seaborn

# Machine Learning
scikit-learn
xgboost
joblib

# Explainable AI
shap

# Web Framework
flask
flask-cors

# Notebook
jupyter

# Environment Variables
python-dotenv